body {
    margin: 0;
    font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
    font-style: italic;
    font-size: 24px;
    color: #F8FADF;
    text-align: center;
}

div {
  background-color: #0F2E75;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#cone {
    height: 60px;
    width: auto;
    position: absolute;
    -webkit-animation: moveX 5s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate;
    -moz-animation: moveX 5s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate;
    -o-animation: moveX 5s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate;
    animation: moveX 5s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate;
    z-index: 0;
}

#timer {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@media only screen and (max-width: 736px) {
  body {
      font-size: 24px;
  }

  #cone {
    height: 40px;
    widht: auto;
  }
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: calc(100vw - 40px); }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: calc(100vw - 40px); }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: calc(100vw - 40px); }
}
@keyframes moveX {
  from { left: 0; } to { left: calc(100vw - 40px); }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: calc(100vh - 46px); }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: calc(100vh - 46px); }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: calc(100vh - 46px); }
}
@keyframes moveY {
  from { top: 0; } to { top: calc(100vh - 46px); }
}